


body{
    background-color: moccasin;
    font-size: 16px;
    border: chocolate solid 15px;
    background: oldlace;
    color: saddlebrown;
    padding: 20px;
    
    
    
}

a{
    color: chocolate;
}

h1{
    font-size: 40px;
    text-align: center;
}